node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
aid-studio-applet-webapp-a549d-firebase-adminsdk-fbsvc-2400a80d83.json
ai-studio-applet-webapp-a549d-firebase-adminsdk-fbsvc-193b3a46b2.json