@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Permanent+Marker&family=Outfit:wght@400;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  --font-marker: "Permanent Marker", cursive;
}

body {
  background-color: #000;
  color: #fff;
}
